{% load static %}
{% block content%}
{% include 'header.html' %}
<div class="container">
    <center>
    <br><br><br><br>
    
    <h1 >USER</h1>
    <table class="table" style=" border-collapse: separate;border-spacing: 10px 20px; width: 100%;text-align: center;">
       
        <thead>

          <tr>
            <th scope="col">id</th> 
            <th scope="col">Name</th>
            <th scope="col">email</th>
            <th scope="col">password</th>
            <th scope="col">phone</th>
            <th scope="col">Address</th>
            <th scope="col">Remove</th>
            
          </tr>
        </thead>
        <tbody>
            {% for i in result %}
          <tr>
            <td>{{i.id}}</td>
            <td>{{i.username}}</td>
            <td>{{i.useremail}}</td>
            <td>{{i.userpassword}}</td>
            <td>{{i.phone}}</td>
            <td>{{i.address}}</td>
            <td><a href="{% url 'userdelete' id=i.id %}">Remove</a></td>
            
          </tr>
          {%endfor%}
         
        </tbody>
      </table>
    </center>
</div>

{% include 'footer.html' %}
{% endblock %}