{% load static %}
{% block content %}
{% include 'header.html' %}

<div class="col-md-12">
    <div class="heading-section text-center">
        <span class="subheading">Specialties</span>
        <h2>Our Menu</h2>
    </div>
</div>

<!-- Card Start -->
<div class="container">
    <div class="row">
        {% for i in result %}
        <div class="col-lg-4">
            <div class="card p-0" style="margin-top: 20px; margin-left: 5%;">
                <div class="card-image">
                    <img src="{{ i.dish_img.url }}" alt="{{ i.dish_name }}" style="width: 250px; height: 300px;">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h3 class="pt-2">{{ i.dish_name }}</h3>
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                            <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4z"/>
                        </svg>
                        {{ i.price }}
                    </h4>
                  
                    <ul class="social-icons d-flex justify-content-center">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- End Card -->

{% include 'footer.html' %}
{% endblock %}
